* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #bd9e9e;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:white;
    font-size: 1.5rem;

}

#container1  {
    background-color: rgb(107, 107, 233);
    width: 60vw;
    aspect-ratio: 9/8;
    box-shadow: 9px 9px 5px #974f4f;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    border-radius: 30px;
    padding: 1rem;
}

img {
    width: 15%;
    /*border: 1px solid red;*/
    margin-top: .5rem;

}

#container2 {
    /*border: 1px solid red;*/
    text-align: center;
    width: 100%;
}

#container3 {
    /*border: 1px solid red;*/
    display: block;
    text-align: center;
    margin-top: 1rem;
}

h1 {
    
    margin: 1rem 0 1rem 0;
    text-shadow: 1px 1px 3px white;
    letter-spacing: 2px;
    /*border: 1px solid red;*/
}
#additem {
    width: 92.8%;
    height: 3rem;
    border: none;
    font-size: 1.3rem;
    letter-spacing: 1.5px;
    padding:.7rem;
    border-radius: 5px;
    margin: 0;
    vertical-align: middle;
   
}
#additem:hover {
    box-shadow: 0px 0px 11px black;
}
#additem:focus {
    outline: none;
}

#plus {
    font-size: 2.5rem;
    display: inline;
    padding: .23rem;
    vertical-align:middle;
    color: red;
    border-radius: 10px;
    text-shadow: 0 5px 0px blue;
    /*border: 1px solid red;*/
}
#plus:hover {
    cursor: pointer;
}
#plus:active {
    text-shadow: 0 0px 0px blue;
    text-transform: translateY(11px);
    
}


#task {
    width: 85%;
    height: 3rem;
    border: none;
    font-size: 1.3rem;
    letter-spacing: 1.5px;
    padding:.7rem;
    border-radius: 5px;
    margin-top: .5rem;
}

#task:hover {
    box-shadow: 0px 0px 11px red;
}
#task:focus {
    outline: none;
}
#checkbox {
    display: inline;
    width: 2.5rem;
    height: 2.5rem;
    vertical-align:middle;
    margin-left: .5rem;
}
#checkbox:hover {
    cursor: pointer;
    box-shadow: 0px 0px 11px red;
}

#trash {
    display: inline;
    margin-left: .5rem;
    font-size: 2.5rem;
    color: lime;
    vertical-align: middle;
}

#trash:hover {
    cursor: pointer;
    box-shadow: 0px 0px 11px red;
}
#trash:active {
    text-shadow: 0px 0px 0px;
    text-transform: translateY(11px);
}

.done {
    opacity: .5;
    transform: scale(.90);
    transition: 0.5s;
}



@media screen and (min-width: 320px) and (max-width: 480px) {
    #container1 { width: 90%; margin: 1rem;}
    img { width: 25%;}
    body { font-size: 1rem; align-items:flex-start;}
    #additem { height: 2.5rem; width: 100%; font-size: 1rem;}
    #plus { display: block; font-size: 1.8rem;}
    #task { width: 100%; height: 2rem; font-size: 1rem;}
    #checkbox { display: inline-block; width: 1.8rem; height: 1.8rem; margin-top: .5rem;}
    #trash { display: inline-block; font-size: 1.8rem; margin-top: .5rem;}
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    #container1 { width: 90%; margin: 1rem;}
    body { font-size: 1.2rem; align-items:flex-start;}
    #additem { height: 2.5rem; width: 100%; font-size: 1.3rem;}
    #plus { display: block; font-size: 2rem;}
    #task { width: 100%; height: 2.5rem; font-size: 1rem;}
    #checkbox { display: inline-block; width: 2rem; height: 2rem; margin-top: .5rem;}
    #trash { display: inline-block; font-size: 2rem; margin-top: .5rem;}

}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    #container1 { width: 90%; margin: 1rem;}
    body { font-size: 1.4rem; align-items:flex-start;}
    #additem { height: 2.7rem; width: 100%; font-size: 1.4rem;}
    #plus { display: block; font-size: 2.2rem;}
    #task { width: 100%; height: 2.7rem; font-size: 1.4rem;}
    #checkbox { display: inline-block; width: 2.2rem; height: 2.2rem; margin-top: .5rem;}
    #trash { display: inline-block; font-size: 2.2rem; margin-top: .5rem;}
}

@media screen and (min-width: 1025px) and (max-width: 1200px) {
    #container1 { width: 90%; margin: 1.2rem;}
    body { font-size: 1.5rem; align-items:flex-start;}
    #additem { height: 3rem; font-size: 1.5rem;}
    #plus { font-size: 2.5rem;}
    #task { height: 3rem; font-size: 1.5rem;}
    #checkbox { width: 2.5rem; height: 2.5rem;}
    #trash {font-size: 2.5rem;}
}

@media screen and (min-width: 1201px) and ( max-width: 1700px) {
    #container1 { margin: 1.4rem;}
    body { font-size: 1.7rem; align-items:flex-start;}
    #additem { height: 3.2rem; font-size: 1.7rem;}
    #plus { font-size: 2.2rem;}
    #task { height: 3.2rem; font-size: 1.7rem;}
    #checkbox { width: 2.7rem; height: 2.7rem;}
    #trash {font-size: 2.7rem;}
}

@media screen and (min-width: 1701px) {
    #container1 { width: 90%; height: 90vh; margin: 1.5rem;}
    body { font-size: 2rem; align-items:flex-start;}
    #additem { height: 3.5rem; font-size: 2rem;}
    #plus { font-size: 3rem;}
    #task { height: 3.5rem; font-size: 2rem;}
    #checkbox { width: 3rem; height: 3rem;}
    #trash {font-size: 3rem;}

}

